body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/images/fplibrary.png'); /* Add background image path */
    background-size: cover;
    background-position: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    width: 450px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: left;
    backdrop-filter: blur(5px);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.form-title {
    background-color: #d6ff57;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: #d6ff57;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#add-book-btn {
    background-color: #5f9ae7;
    color: white;
}

#back-btn {
    background-color: #d6d6d6;
    color: black;
}
