body {
    font-family: Arial, sans-serif;
    background-image: url('/assets/images/fplibrary.png'); /* Add your background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
    color: #ffeb3b;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input, textarea {
    padding: 10px;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #dced72;
    font-size: 14px;
    width: 100%;
  }
  
  textarea {
    resize: none;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .ok-button, .back-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
  }
  
  .ok-button {
    background-color: #d6a963;
    color: white;
  }
  
  .back-button {
    background-color: #e0e0e0;
    color: black;
  }
  